.section-6 {
    &__container {
        background: #fff;
    }
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px;
    }
}

$timer: 3s;

.active.colum {
    &-1, &-2, &-3, &-4 {
        &.table-head__cell {
            background: #2C109F;
        }
        .table-head__wrapper {
            color: #A2BEEE;
        }
        .table-head__date {
            display: block;
        }
        .table-head__day {
            float: right;
        }
        .table-body__wrapper {
            position: static;
            opacity: 1;
        }

    }
}

.active {

    &.table-head__cell {
        background: #2C109F;
    }
    .table-head__wrapper {
        color: #A2BEEE;
    }
    .table-head__date {
        display: block;
    }
    .table-head__day {
        float: right;
    }
    .table-body__wrapper {
        position: static;
        opacity: 1;
    }

}

.section-6 {
    &__content {
    }
    &__title {
        margin-bottom: 20px;
        font-size: 50px;
        font-weight: bold;
        text-align: center;
        color: #242424;
    }
    table, tr, th, td {
        border: 1px solid #2C109F;
        border-collapse: collapse;
        border-spacing: 0;
    }
    table {
        width: 100%;
    }
}

.table {
    &-head__container,
    &-body__container {
        position: relative;
    }
    &-head {
        color: #fff;
        &__wrapper {
            @include clearfix;
            padding: 10px 15px 5px;
        }
        &__cell {
            width: 60px;
            background: #969797;
            cursor: pointer;

            &.active {
                width: calc(100% - 180px);
            }
        }
        &__date {
            float: left;
            display: none;
            width: calc(100% - 60px);
            margin-top: 25px;
        }
        &__day {
            float: none;
        }
        &__text {
            font-weight: 600;
            font-size: 20px;
        }
        &__digit {

            font-weight: bold;
            font-size: 50px;
        }
    }
    &-body {
        &__wrapper {
            top: 0;
            left: 0;
            position: absolute;
            opacity: 0;
            padding: 10px 15px 5px;
        }
        &__container {
            @include clearfix;
        }
        &__image {
            float: left;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            overflow: hidden;
            background: #969797;

            &--group {
                .table-body__image {
                    margin-right: 10px;
                }
            }
        }
        &__content {
            float: right;
            margin-left: 15px;
            width: calc(100% - 90px);
            color: #242528;
            h4 {
                font-weight: 300;
                font-size: 36px;
            }
            p {
                margin: 0;
                padding: 0;
                font-size: 23px;
                line-height: 1.4;
            }
        }
        &__anonymous {
            margin-top: 10px;
            font-size: 14px;
            color: #727272;
        }
        &__footer {
            margin-top: 20px;
            color: #ED0058;
            font-size: 23px;
            font-weight: 300;
        }
    }

    &__content {

    }
    &__footer {
        margin-top: 10px;
        font-size: 14px;
        color: #727272;

        &-duration {
            color: #ED0058;
            font-size: 23px;
            font-weight: 300;

        }
    }
}