mixin table-header(data)
    - var active = data == 1 ? ' active' : '';
    th(class="column column-" + data + active).table-head__cell
        div(data-column= data).table-head__wrapper.trigger
            div.table-head__date December #{data + 2} rd
            div.table-head__day
                div.table-head__text DAY
                div.table-head__digit= data

mixin block-1 (data)
    - var active = data == 1 ? ' active' : '';
    td(class="column column-" + data + active).table-body__cell
        div(data-column= data).table-body__wrapper
            div.table-body__container
                div.table-body__image
                    img(src="./images/avatar-black.png", alt="")
                div.table-body__content
                    h4 Welcome
                    p Welcome Words
                    p Agenda of the Day
                    p Sponsors Announcement
            div.table-body__footer 45 min

mixin block-2 (data)
    - var active = data == 1 ? ' active' : '';
    td(class="column column-" + data + active).table-body__cell
        div(data-column= data).table-body__wrapper
            div.table-body__container
                div.table-body__image
                    img(src="./images/avatar-gray.png", alt="")
                div.table-body__content
                    h4 Welcome
                    p Welcome Words
                    p Agenda of the Day
                    div.table-body__anonymous Anonymous

            div.table-body__footer 45 min


mixin block-3 (data)
    - var active = data == 1 ? ' active' : '';
    td(class="column column-" + data + active).table-body__cell
        div(data-column= data).table-body__wrapper
            div.table-body__container
                div.table-body__image--group
                    div.table-body__image
                        img(src="./images/avatar-gray.png", alt="")
                    div.table-body__image
                        img(src="./images/avatar-gray.png", alt="")
                    div.table-body__image
                        img(src="./images/avatar-gray.png", alt="")
                div.table-body__content
                    h4 Welcome
                    p Welcome Words
                    p Agenda of the Day
                    div.table-body__anonymous Anonymous

            div.table-body__footer 45 min


mixin section-6
    section.section-6#program
        div.section-6__container
            div.section-6__content
                h3.section-6__title Program

                table
                    tr.table-head
                        - for (var n = 1; n <= 4; n++)
                            +table-header(n)
                    tr.table-body
                        - for (var i = 1; i <= 4; i++)
                            +block-1(i)
                    tr.table-body
                        - for (var i = 1; i <= 4; i++)
                            +block-2(i)
                    tr.table-body
                        - for (var i = 1; i <= 4; i++)
                            +block-3(i)