mixin section-5
    section.section-5
        div.container
            div.section-5__content
                div.section-5__registration
                    .registration__title Register for a conference
                    .registration__subtitle and get ultimate guide to crypto investment
                    form.registration__form
                        input(type="email", placeholder="Email address")
                        a(href="#") Get free access