mixin section-5
    section.section-5
        div.section-5__container
            div.section-5__content
                h3.registration__title Register for a conference
                div.registration__subtitle and get ultimate guide to crypto investment
                form.registration__form
                    input(type="email", placeholder="Email address")#registration__input
                    button(type="button") Get free access