.section-5 {
    &__container {
        background: #ED0058;
    }
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px;
    }
}

.registration {
    &__title {
        font-weight: bold;
        font-size: 70px;
        text-align: center;
        color: #FFFFFF;
        @include laptop {
            font-size: 40px;
        }
        @include tablets {
            font-size: 33px;
        }
        @include phones {
            font-size: 18px;
        }
    }
    &__subtitle {
        margin-top: 10px;
        font-size: 36px;
        color: #FFFFFF;
        @include tablets {
            font-size: 24px;
            text-align: center;
        }
        @include phones {
            font-size: 16px;
        }
    }
    &__form {
        display: flex;
        margin-top: 40px;
        @include tablets {
            flex-direction: column;
            align-items: center;
        }
        input,
        button {
            height: 64px;
        }
        input {
            width: 423.41px;
            font-size: 23px;
            background: none;
            border: 1px solid #fff;
            border-right: none;
            outline: none;
            color: #fff;
            padding-left: 20px;

            @include tablets {
                border: 1px solid #fff;
                text-align: center;
                margin: 0 auto 40px;
                padding: 0;
                width: 280px;
            }

            &::placeholder {
                color: #fff;
                @include tablets {
                    text-align: center;

                }
            }
        }
        input:focus::-webkit-input-placeholder { color:transparent; }
        input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
        input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
        input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
        button {
            width: 240px;
            font-weight: 600;
            font-size: 23px;
            color: #242528;
            background: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            &:hover {
                background: #000;
                color: #fff;
            }
        }
    }
}