mixin section-5
    section.section-5
        .registration
            .registration__title Register for a conference
            .registration__subtitle and get ultimate guide to crypto investment
            form.registration__form
                input(type="email", placeholder="Email address")
                a(href="#") Get free access