.section-1 {
    color: #fff;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../images/erth.png") no-repeat center;
        background-size: cover;
    }
    &__date {
        margin-top: 51px;
        font-size: 29px;
        text-align: center;
        color: #A2BEEE;
    }
    &__title {
        margin-top: 45px;
        font-weight: bold;
        font-size: 70px;
        text-align: center;
    }
    &__text {
        margin-top: 51px;
        font-size: 44px;
        line-height: 36px;
        text-align: center;
    }
    &__button {
        margin-top: 60px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;
            height: 64px;
            background: #ED0058;
            color: inherit;
            font-size: 23px;
            text-decoration: none;
        }
    }
    &__counter {
        margin: 48px 0;
    }
}