.section-1 {
    &__container {
        background: url("../images/erth.png") no-repeat center/cover;
        background-attachment: fixed;
    }
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        color: #fff;
    }
    &__date {
        margin-bottom: 45px;
        font-size: 29px;
        text-align: center;
        color: #A2BEEE;
    }
    &__title {
        margin-bottom: 45px;
        font-weight: bold;
        font-size: 70px;
        text-align: center;
        @include tablets {
            font-size: 40px;

        }
    }
    &__text {
        margin-bottom: 51px;
        font-size: 44px;
        line-height: 1.2;
        text-align: center;
        @include tablets {
            font-size: 22px;
        }
    }
    &__button {
        margin-bottom: 60px;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;
            height: 64px;
            background: #ED0058;
            color: #fff;
            font-size: 23px;
            text-decoration: none;
            transition: all .5s linear;
        }
        &:hover {
            a {
                background: #000;
            }
        }
    }
    &__counter {
    }
}