.section-1 {
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: url("../images/img-1_.png") no-repeat center;
        background-size: cover;
    }
    &__date {
        font-size: 2.5rem;
        text-align: center;
        color: #A2BEEE;
    }
    &__title {
        font-weight: bold;
        font-size: 3.89rem;
        line-height: 4.44rem;
        text-align: center;
        color: #FFFFFF;
        margin-top: 25px;
    }
    &__text {
        line-height: 2.44rem;
        font-size: 2rem;
        text-align: center;
        color: #FFFFFF;
        margin-top: 51px;
    }
    &__button {
        margin-top: 60px;
        a {
            display: block;
            background: #ED0058;
            font-weight: 600;
            font-size: 1.27rem;
            line-height: 2.77em;
            text-align: center;
            text-decoration: none;
            padding: 0 44px;
            color: #FFFFFF;
        }
    }
    &__counter {
        margin-top: 60px;
    }
}