include ../header/header
include ../counter/counter

mixin section-1

    div.section-1
        +header
        .section-1__wrapper
            .section-1__date DECEMBER 3–6
            .section-1__title New Economy <br> Online Conference
            .section-1__text Register for a conference and get <br> ultimate guide to crypto investment
            .section-1__button: a(href="#") Get free access
            .section-1__counter
                +counter