.section-3 {
    padding-bottom: 50px;
    padding-top: 50px;
    &__container {
        background: #EAF1FB;
    }
    &__content {
        max-width: 1440px;
        margin: 0 auto;
    }
    &__title {
        font-size: 70px;
        color: #242424;
        font-weight: bold;
        text-align: center;
        @include laptop {
            font-size: 50px;
        }
    }
}

.speaker {
    width: 342px;
    text-align: center;
    background: #fff;
    margin-top: 40px;
    @media screen and (max-width: 1300px) {
        width: 300px;
    }
    @include tablets {
        width: 260px;
        margin-top: 20px;
    }
    &__col {
        margin: 0 19px;
    }
    &__info {
        padding: 30px 10px 30px;
    }
    &__name {
        font-weight: 600;
        font-size: 23px;
        color: #242528;
        margin-bottom: 20px;
        margin-top: 0;
    }
    &__descr {
        font-size: 18px;
        line-height: 26px;
        color: #969797;
        margin-bottom: 0;
    }
}

.speakers {
    &__slider {
        position: relative;
    }
    &__wrap {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        align-items: center;
        margin: 0 auto;
        width: 1140px;
        position: relative;
        background: #EAF1FB;
        @media screen and (max-width: 1300px) {
            width: 668px;
        }
        @include tablets {
            width: 300px;
        }
    }
    &__list {
        top: 0;
        left: 0;
        transition: .5s all linear;
        display: flex;
    }
    &__contrls {
    }
    &__contrl {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 55px;
        height: 140px;
        cursor: pointer;
        &:hover {
            opacity: .5;
        }
        @media screen and (max-width: 1300px) {
            width: 30px;
            height: 80px;
            @include tablets {
                width: 15px;
                height: 40px;
            }
            svg {
                height: 100%;
                width: auto;
            }
        }
        &--prev {
            left: 50px;
            @include tablets {
                left: 20%;
            }
            @media screen and (max-width: 660px) {
                left: 10%;
            }
            @media screen and (max-width: 500px) {
                left: 20px;
            }
            @media screen and (max-width: 360px) {
                left: 5px;
            }
        }
        &--next {
            right: 50px;
            @include tablets {
                right: 20%;
            }
            @media screen and (max-width: 660px) {
                right: 10%;
            }
            @media screen and (max-width: 500px) {
                right: 20px;
            }
            @media screen and (max-width: 360px) {
                right: 5px;
            }
        }
    }
}