extends libs/default

include ../components/section-1/section-1
include ../components/section-2/section-2
include ../components/section-3/section-3
include ../components/section-4/section-4
include ../components/section-5/section-5
include ../components/section-6/section-6
include ../components/section-7/section-7
include ../components/section-8/section-8
include ../components/section-9/section-9
include ../components/footer/footer

block variables
    - var title = 'title'
    - var description = 'description'
    - var keywords = 'keywords'

block links
    link(rel="stylesheet" href="css/main.css")

block scriptsToHead

block content
    .page__wrapper
        +section-1
        +section-2
        +section-3
        +section-4
        +section-5
        //+section-6
        +section-7
        +section-8
        +section-9
        +footer

block scriptsToBody
    script(src='js/bundle.js')