mixin counter
    .counter
        ul.counter__list
            - var digits = [26, 17, 55, 20];
            - var text = ['DAYS', 'HOURS', 'MINUTES', 'SECONDS'];
            each digit, i in digits
                li.counter__item
                    div.counter__digit= digit
                    div.counter__text= text[i]