mixin counter(idClock, idMessage)
    .counter
        ul.counter__list(id= idClock)
            li.counter__item
                span.days.counter__digit
                div.smalltext.counter__text Days
            li.counter__item
                span.hours.counter__digit
                div.smalltext.counter__text Hours
            li.counter__item
                span.minutes.counter__digit
                div.smalltext.counter__text Minutes
            li.counter__item
                span.seconds.counter__digit
                div.smalltext.counter__text Seconds

    div(id= idMessage) Time is up!
