.section-8 {
    &__container {
        background: #E5E5E5;
    }
    &__content {
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px 40px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: bold;
        font-size: 70px;
        color: #242424;

        @include tablets {
            font-size: 40px;
        }
    }
    &__list {
        margin: 40px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1000px;
    }
    &__item {
        height: 140px;
        width: 140px;
        margin: 55px 70px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablets {
            width: 200px;
            height: 200px;
            margin: 0 50px 55px;
        }

        @media screen and (max-width: 599px) {
            height: auto;
            width: 80%;
        }
    }
    &__text {
        font-size: 23px;
        color: #242424;

        @include phones {
            font-size: 16px;
        }
    }
    &__btn {
        margin-top: 60px;
        a {
            padding: 18px 45px;
            color: #fff;
            background: #ED0058;
            text-decoration: none;
            &:hover {
                background: #000;
            }
        }
    }
}