mixin section-6
    section.section-6#program
        table
            thead
                tr
                    th day 1
                    th day 2
                    th day 3
                    th day 4
            tbody
                tr
                    td hello 1
                    td hello 2
                    td hello 3
                    td hello 4