.program {
    &__title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        color: #242424;
    }
    &__list {
        display: flex;
        margin-top: 20px;
        overflow-x: auto;
    }
    &__subitem {
        display: flex;
        justify-content: space-between;
        padding: 15px;
        border: 1px solid #969797;
        height: 250px;
        &:first-child {
            height: 170px;
        }
    }
    &__date {
        display: none;
        align-self: center;
        font-size: 26px;
        color: #fff;
    }
    &__day {
        &-text {
            font-weight: 600;
            font-size: 20px;
            color: #A2BEEE;
            text-transform: uppercase;
        }
        &-digit {
            font-weight: bold;
            font-size: 50px;
            color: #A2BEEE;
        }
    }
    &__info {
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &-content {
            display: flex;
            margin-bottom: 50px;
            &--3images {
                flex-direction: column;
                .program__info-wrapper {
                    margin-left: 90px;
                }
            }
        }
        &-image {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            background: #969797;
            img {
                width: 55%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &--black {
                background: #242528;
                img {
                    width: 70%;
                }
            }
        }
        &-images {
            display: flex;
            margin-bottom: 10px;
            li {
                margin-right: 20px;
                width: 75px;
                height: 75px;
                border-radius: 50%;
                overflow: hidden;
                position: relative;
                background: #969797;
                img {
                    width: 55%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        &-wrapper {
            margin-left: 20px;
            color: #242528;
            flex: 2 0px;
        }
        &-title {
            font-size: 29px;
            font-weight: 300;
        }
        &-text {
            margin-top: 10px;
            line-height: 22px;
        }
        &-anonymous {
            margin-top: 10px;
            font-size: 14px;
            color: #727272;
        }
        &-duration {
            color: #ED0058;
            font-size: 23px;
            font-weight: 300;
        }
    }
    &__item {
        overflow: hidden;
        width: 15%;
    }
}
.program__item--active {
    width: 55%;
    .program__info{
        opacity: 1;
    }
}