.footer {
    background: #000;
    padding: 7px 20px;
    &__text {
        font-size: 23px;
        color: #FFFFFF;
        text-align: center;
    }
    &__socials {
        display: flex;
        justify-content: center;
    }
    &__social {
        margin: 0 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FDF4FD;
        border-radius: 4px;
        img {
            width: 30px;
            height: 30px;
        }
    }

    &__copy {
        font-size: 18px;
        color: #CCCCCC;
        text-align: center;
    }

}