mixin header
    header.header
        div.header__logo: a(href="/")
        nav.header__navigation
            ul.navigation__list
                li.navigation__item: a(href="#") Home
                li.navigation__item: a(href="#") Speakers
                li.navigation__item: a(href="#") Program
                li.navigation__item: a(href="#") Sponsorship
                li.navigation__item: a(href="#") Partners
                li.navigation__item: a(href="#").access_button Get access