.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    height: 70px;
    &__logo {
        padding-left: 37px;
        a {
            display: block;
            width: 200px;
            height: 50px;
            background: url("../images/logo.png") no-repeat center;
            background-size: cover;
        }
    }
}

.navigation {
    @media screen and (max-width: 960px) {
        display: none;
    }
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        @include laptop {
            display: none;
        }
    }
    &__item {
        list-style: none;
        a {
            color: #A2BEEE;
            text-decoration: none;
            margin-left: 43px;
            line-height: 30px;
            font-size: 18px;
            &.access_button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 137px;
                height: 36px;
                background: #ED0058;
            }
        }
    }
}

.burger .line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
}

.burger:hover {
    cursor: pointer;
}

.burger {
    position: relative;
    right: 45px;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    display: none;
    @include laptop {
        display: block;
    }
}

.burger.active {
    position: fixed;
    top: 18px;
    right: 45px;
}

.navigation.open {
    width: 100%;
    height: 100vh;
    z-index: 100;
    position: fixed;
    background: #000;
    right: 0;
    top: 0;
    @media screen and (max-width: 960px) {
        display: flex;
        justify-content: center;
    }
    .navigation__list {
        display: flex;
        flex-direction: column;
        color: #fff;
        align-items: center;
        margin-top: 50px;
    }
    .navigation__item {
        margin: 20px;
        a {
            font-size: 26px;
            margin: 0;
        }
    }
}

.burger.active .line {
    width: 30px;
}

.burger.active .line:nth-child(2) {
    opacity: 0;
}

.burger.active .line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.burger.active .line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.no-scroll {
    height: 100vh;
    overflow: hidden;
}