.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000;
    height: 70px;
    padding: 0 45px 0 37px;
    &__logo {
        a {
            display: block;
            width: 200px;
            height: 50px;
            background: url("../images/logo.png") no-repeat center;
            background-size: cover;
        }
    }
}

.navigation {
    @media screen and (max-width: 960px) {
        display: none;
    }
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
    }
    &__item {
        list-style: none;
        a {
            color: #A2BEEE;
            text-decoration: none;
            margin-left: 43px;
            line-height: 30px;
            font-size: 18px;
            &.access_button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 137px;
                height: 36px;
                background: #ED0058;
            }
        }
    }
}