mixin section-4
    section.section-4
        div.section-4__container
            div.section-4__content
                h3.section-4__title Online conference with networking
                div.section-4__subtitle
                    div.section-4__subtitle-text covering the whole world
                    ul.section-4__subtitle-list
                        li.section-4__subtitle-item: a(href="#").icon-laptop
                        li.section-4__subtitle-item: a(href="#").icon-tablet
                        li.section-4__subtitle-item: a(href="#").icon-smartphone
                div.section-4__image: img(src="images/section-4.png", alt="")