mixin section-4
    section.section-4
        .section-4__title Online conference with networking
        .section-4__subtitle
            div.subtitle__text covering the whole world
            ul.subtitle__list
                li.subtitle__item: a(href="#").icon-laptop
                li.subtitle__item: a(href="#").icon-tablet
                li.subtitle__item: a(href="#").icon-smartphone
        .section-4__image