mixin section-4
    section.section-4
        div.container
            div.section-4__content
                div.section-4__title Online conference with networking
                div.section-4__subtitle
                    .subtitle__text covering the whole world
                    ul.subtitle__list
                        li.subtitle__item: a(href="#").icon-laptop
                        li.subtitle__item: a(href="#").icon-tablet
                        li.subtitle__item: a(href="#").icon-smartphone