.section-4 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/Dana.png") no-repeat center;
    background-size: cover;
    @include tablets {
        background: #cfcfcf;
        height: 68%;
        justify-content: center;
    }
    &__title {
        margin-top: 68px;
        font-size: 70px;
        line-height: 80px;
        font-weight: bold;
        color: #242424;
        text-align: center;
        @include laptop {
            width: 90%;
        }
        @include tablets {

            font-size: 33px;
            margin-top: 20px;
            line-height: 46px;
        }
    }
    &__subtitle {
        display: flex;
        margin-top: 13px;
        @include tablets {
            margin: 0;
            align-items: center;
            flex-direction: column;
        }
    }
}

.subtitle {
    @include tablets {

    }
    &__text {
        font-size: 36px;
        color: #242528;
        @include tablets {
            font-size: 22px;
            margin-top: 30px;
        }
    }
    &__list {
        display: flex;
        margin: 0 0 0 35px;
        padding: 0;
        @include tablets {
            margin: 0;
            margin-top: 30px;
        }
    }
    &__item {
        list-style: none;
        margin-left: 15px;
        .icon {
            &-laptop {
                display: block;
                width: 85.29px;
                height: 41px;
                background: url("../images/laptop.png") no-repeat center;
                background-size: cover;
            }
            &-tablet {
                display: block;
                width: 58.6px;
                height: 41px;
                background: url("../images/tablet.png") no-repeat center;
                background-size: cover;
            }
            &-smartphone {
                display: block;
                margin-left: 10px;
                width: 23.96px;
                height: 41px;
                background: url("../images/smartphone.png") no-repeat center;
                background-size: cover;
            }
        }
    }
}