.section-4 {
    height: 115%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/Dana.png") no-repeat center;
    background-size: cover;
    &__title {
        margin-top: 68px;
        font-size: 70px;
        line-height: 80px;
        font-weight: bold;
        color: #242424;
        text-align: center;
    }
    &__subtitle {
        display: flex;
        margin-top: 10px;
    }
}

.subtitle {
    &__text {
        font-size: 36px;
        color: #242528;
    }
    &__list {
        display: flex;
        margin: 0 0 0 35px;
        padding: 0;
    }
    &__item {
        list-style: none;
        margin-left: 15px;
        .icon {
            &-laptop {
                display: block;
                width: 85.29px;
                height: 41px;
                background: url("../images/laptop.png") no-repeat center;
                background-size: cover;
            }
            &-tablet {
                display: block;
                width: 58.6px;
                height: 41px;
                background: url("../images/tablet.png") no-repeat center;
                background-size: cover;
            }
            &-smartphone {
                display: block;
                margin-left: 10px;
                width: 23.96px;
                height: 41px;
                background: url("../images/smartphone.png") no-repeat center;
                background-size: cover;
            }
        }
    }
}