mixin section-2

    section.section-2#section-2
        div.section-2__content
            figure.section-2__figure
                img(src="images/guiness-records.png")
                figcaption.section-2__figcaption Guinness record breaking the largest business online conference in the world
